// Colors
:root {
 --white: #FFFFFF;
 --black: #000000;
 --dark-blue: #202538;
 --dark-gray: #5D5D5D;
 --light-gray: #8A919F;
 --orange: #F77315;
 --dark-orange: #FF6601;
 --light-orange: #F09850;
 --green: #178F82;
 --dark-purple: #8764D8;
 --light-purple: #F22CF7;
 --pink: #F94B76;
}