<mat-card class="card">
  <mat-card-header>
    <a [routerLink]="[ '/deal', deal.id ]" class="card__link">
      <img mat-card-avatar [src]="deal.image" alt="Deal Image">
      <div class="card__link__header">
        <mat-card-title>{{ deal.name }}</mat-card-title>
        <mat-card-subtitle>{{ deal.address }}</mat-card-subtitle>
      </div>
    </a>
    <mat-card-actions>
      <button mat-icon-button aria-label="Example icon button with a home icon">
        <mat-icon>edit</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card-header>
  <hr class="card__divider"/>
  <mat-card-content class="card__content">
    <mat-grid-list cols="2" rowHeight="3.5rem">
      <mat-grid-tile>
        <div class="card__content__attributes">
          <h4>Type</h4>
          <p>{{ deal.type }}</p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="card__content__attributes">
          <h4>Price</h4>
          <p>{{ deal.purchasePrice | currency }}</p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="card__content__attributes">
          <h4>NOI</h4>
          <p>{{ deal.noi | currency }}</p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="card__content__attributes">
          <h4>Cap Rate</h4>
          <p>{{ deal.capRate | percent }}</p>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>