.deal-dialog {
 width: 40rem;
 height: 24rem;
 padding-top: 1rem;
}

.mat-mdc-dialog-actions {
 padding-right: 1rem;
 justify-content: flex-end;
}

.button--confirm {
 background-color: var(--dark-orange);
 color: var(--white);
}

.button--add {
 @extend .button--confirm;
}

::ng-deep .cdk-global-overlay-wrapper {
 overflow: auto !important;
 pointer-events: auto !important;  // needed for chrome but prevents backdrop click close
}